<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>YTMusicPlayer</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.876108117124-7jev2j567b5u4ua0tii23jm1s3dobmqt</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
